body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Fondo gris claro */
    color: #000000;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #c7c8ca;
    padding: 20px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4 {
    color: #0066cc;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    text-decoration: none;
    color: #0066cc;
}

.menu-icon {
    cursor: pointer;
    font-size: 1.8em;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.menu-icon:hover {
    transform: scale(1.1);
    color: #004080;
}

.navbar {
    display: none;
    width: 100%;
    text-align: center;
}

.menu input:checked + .menu-icon + .navbar {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin-bottom: 10px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.menu input:checked + .menu-icon + .navbar li {
    opacity: 1;
    transform: translateY(0);
}

.navbar a {
    color: #0066cc;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    text-decoration: underline;
    color: #004080;
}

.paragraph-container {
    padding: 20px;
}

.separator {
    height: 10px;
}

.separator1 { background-color: #7FB3D5; }
.separator2 { background-color: #7FB3D5; }
.separator3 { background-color: #7FB3D5; }
.separator4 { background-color: #7FB3D5; }
.separator5 { background-color: #7FB3D5; }

/* Estilos 3D para los párrafos */
.paragraph-container p,
.paragraph-container img,
.paragraph-container video,
.paragraph-container audio {
    margin: 10px 0;
    transform: perspective(1px) scale(0.99);
    transform-style: preserve-3d;
    transition: transform 0.3s ease-in-out;
}

.paragraph-container p:hover,
.paragraph-container img:hover,
.paragraph-container video:hover,
.paragraph-container audio:hover {
    transform: none;
}